
@font-face {
    font-family: "kerema";
    src:url("../fonts/icons/kerema.eot");
    src:url("../fonts/icons/kerema.eot?#iefix") format("embedded-opentype"),
      url("../fonts/icons/kerema.woff") format("woff"),
      url("../fonts/icons/kerema.ttf") format("truetype"),
      url("../fonts/icons/kerema.svg#kerema") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }
  
  [data-icon]:before {
    font-family: "kerema" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    font-family: "kerema" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\61";
  }
  .icon-instagram:before {
    content: "\62";
  }
  .icon-whatsapp:before {
    content: "\63";
  }
  .icon-angle-left:before {
    content: "\64";
  }
  .icon-angle-right:before {
    content: "\65";
  }
  .icon-caret-right:before {
    content: "\66";
  }
  .icon-caret-left:before {
    content: "\67";
  }
  .icon-youtube:before {
    content: "\68";
  }
  .icon-plus:before {
    content: "\69";
  }
  