<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    link(rel="stylesheet", href="dist/css/app.css")
  body
    include components/navbar-1.pug
    main.c-banner-products
      img(src="dist/img/banner-work.png", alt="")
      .c-banner-products__title
        h1.wow.fadeInDown nuestro<br>trabajo


    section.c-presentations.c-contact-back
      img(src="dist/img/contact-back.png", alt="")
      .container
        .row
          .col-12
            .c-contact
              .c-contact__description.wow.fadeInLeft
                img(src="dist/img/title-contact.png", alt="")
                h3 Informacion<br>de contacto
                p 983 467 917
                p 974 891 025
                p info@keremaperu.com
                h3 dirección
                p Carretera el Oconal - Villa Rica (0.2 km)
                h3 Horario
                p 09:00 A 19:00
              .c-contact__form.wow.fadeInRight
                form(action="#!")
                  .c-contact__form-group
                    img(src="dist/img/contact-form-title.png", alt="")
                  .c-contact__form-group
                    label
                      span Tu nombre
                      input(type="text")
                  .c-contact__form-group
                    label
                      span E-mail
                      input(type="email")
                  .c-contact__form-group
                    label
                      span Asunto
                      input(type="text")
                  .c-contact__form-group
                    label
                      span Mensaje
                      textarea(cols="30", rows="10")
                  .c-contact__form-group
                    button enviar >
            a(href="#!").c-presentations__button regresar
            
    include components/section-clients.pug
    include components/footer.pug

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="dist/js/slick.js")
    script(src="dist/js/wow.js")
    script(src="dist/js/main.js")
    