<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    link(rel="stylesheet", href="dist/css/app.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    include components/navbar.pug
    include components/main.pug
    include components/section-products.pug
    include components/section-about.pug
    include components/section-gallery.pug

    a(href="https://www.google.com/maps/place/FINCA+LA+TORRE/@-10.7470277,-75.2760082,17z/data=!4m13!1m7!3m6!1s0x910996e730ed15c7:0x7fd22891b25a50cb!2sEl+Oconal,+Villa+Rica+19300!3b1!8m2!3d-10.746917!4d-75.277124!3m4!1s0x910996e8ff99825f:0x117e3ac71694cc24!8m2!3d-10.7463949!4d-75.2742259" target="_blank").c-section-map
      img(src="dist/img/map.svg", alt="")
      p Carretera el Oconal - Villa Rica (0.2 km)

    include components/section-testimonial.pug

    include components/section-clients.pug
    include components/footer.pug

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="dist/js/slick.js")
    script(src="dist/js/wow.js")
    script(src="dist/js/main.js")
    