<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    link(rel="stylesheet", href="dist/css/app.css")
  body
    include components/navbar.pug
    include components/main.pug
    include components/section-products.pug
    include components/section-about.pug
    include components/section-gallery.pug

    section.c-section-map
      img(src="dist/img/map-site.png", alt="")
      p Carretera el Oconal - Villa Rica (0.2 km)

    include components/section-testimonial.pug

    include components/section-clients.pug
    include components/footer.pug

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="dist/js/slick.js")
    script(src="dist/js/main.js")
    