<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documents
    link(rel="stylesheet", href="dist/css/app.css")
  body
    include components/navbar-1.pug
    main.c-banner-products
      img(src="dist/img/banner-metodo.png", alt="")
      .c-banner-products__title.wow.fadeInDown
        h1 nuestros<br>métodos
    section.c-presentations
      .container
        .row.wow.fadeInDown
          .col-12
            h2 presentaciones
          .col-6.col-sm-6.col-md-3
            a(href="our-method.html").c-presentations__item
              img(src="dist/img/metodo-1.png", alt="")
              p Café KERE'Ma Premium
          .col-6.col-sm-6.col-md-3
            a(href="our-method-1.html").c-presentations__item
              img(src="dist/img/metodo-2.png", alt="")
              p Café KERE'Ma Especial
          .col-6.col-sm-6.col-md-3
            a(href="our-method-2.html").c-presentations__item
              img(src="dist/img/metodo-3.png", alt="")
              p Café KERE'Ma Natural
          .col-6.col-sm-6.col-md-3
            a(href="our-method-3.html").c-presentations__item
              img(src="dist/img/metodo-3.png", alt="")
              p Café KERE'Ma Honey
    section.c-presentations
      .container
        .row
          .col-12
            .c-presentations__main
              img(src="dist/img/metodo-complete-4.png", alt="").wow.fadeInLeft
              .c-presentations__main__description.wow.fadeInRight
                img(src="dist/img/metodo-complete-4-title.png", alt="")
                p La prensa francesa tiene una forma exterior muy similar a la de un pistón o émbolo que se desliza sobre una superficie cilíndrica de vidrio o plástico, suele tener un asa para que pueda verterse el contenido de su interior a una taza cuando se considere listo.
                .c-presentations__main__price(style="color:#81604C;")
                  h4(style="color:#81604C;") Presentaciones:
                  .c-presentations__main__price-item.small
                    span(style="color:#81604C;") 300ml
                    span(style="box-shadow:0 0 0 2px #81604C;") S/.28
                  .c-presentations__main__price-item.small
                    span(style="color:#81604C;") 600ml
                    span(style="box-shadow:0 0 0 2px #81604C;")  S/.35
                  .c-presentations__main__price-item.small
                    span(style="color:#81604C;") 800ml
                    span(style="box-shadow:0 0 0 2px #81604C;") S/.45
          .col-12
            a(href="index.html").c-presentations__button REGRESAR
            
    include components/section-clients.pug
    include components/footer.pug

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="dist/js/slick.js")
    script(src="dist/js/wow.js")
    script(src="dist/js/main.js")
    