.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  &.small{
    max-width: 750px;
  }
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col{

  @for $i from 1 through 10{
    &.s#{$i}0 {
      width: #{$i}0%;
    }
  }

  @media #{$medium-and-up} {
    @for $i from 1 through 10{
      &.m#{$i}0 {
        width: #{$i}0%;
      }
    }
    &.m1-3{
      width: 33.33333%;
    }
  }
  @media #{$large-and-up} {
    @for $i from 1 through 10{
      &.l#{$i}0 {
        width: #{$i}0%;
      }
    }
    &.l1-3{
      width: 33.33333%;
    }
  }

}