section.c-presentations
  .container
    .row.wow.fadeInDown
      .col-12
        h2 presentaciones
      .col-6.col-sm-6.col-md-3
        a(href="our-coffee.html").c-presentations__item
          img(src="dist/img/coffee-1.png", alt="")
          p Café KERE'Ma Premium
      .col-6.col-sm-6.col-md-3
        a(href="our-coffee-1.html").c-presentations__item
          img(src="dist/img/coffee-2.png", alt="")
          p Café KERE'Ma Especial
      .col-6.col-sm-6.col-md-3
        a(href="our-coffee-2.html").c-presentations__item
          img(src="dist/img/coffee-3.png", alt="")
          p Café KERE'Ma Natural
      .col-6.col-sm-6.col-md-3
        a(href="our-coffee-3.html").c-presentations__item
          img(src="dist/img/coffee-3.png", alt="")
          p Café KERE'Ma Honey