nav.c-navbar.navbar.navbar-expand-lg
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  a(href="#!").c-navbar__logo.simple
    img(src="dist/img/kerema-simple.svg", alt="")
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="#!")
          i.icon-facebook
      li.nav-item
        a.nav-link(href="#!")
          i.icon-instagram
      li.nav-item
        a.nav-link(href="#!")
          i.icon-whatsapp

    .my-2.my-lg-0
      ul.navbar-nav
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Menú
          .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="#") Inicio
            .dropdown-divider
            a.dropdown-item(href="#") Productos +
            .dropdown-divider
            a.dropdown-item(href="#") Cafés
            a.dropdown-item(href="#") Chocolates
            a.dropdown-item(href="#") Métodos
            a.dropdown-item(href="#") Trabajo
            .dropdown-divider
            a.dropdown-item(href="#") Galería +
            .dropdown-divider
            a.dropdown-item(href="#") Producción
            a.dropdown-item(href="#") Proceso
            a.dropdown-item(href="#") Consumidores
            .dropdown-divider
            a.dropdown-item(href="#") Contacto