section.c-section-testimonials
  img(src="dist/img/testimonials-back.png", alt="")
  .container
    .row
      .col.s12
        h2 opiniones

        .c-slider-testimonial.slider
          div
            .c-section-testimonials__slide
              img(src="dist/img/testimonial.png", alt="")
              span Gerita Vásquez

              .c-section-testimonials__description
                p “Me encantó conocer desde el sembrado de sus cafés, así como también el hecho que sea ecoamigable es muy importante, su sabor es realmente indescriptible. buenísimo!!”
                img(src="dist/img/testimonial_icon.png", alt="")
          div
            .c-section-testimonials__slide
              img(src="dist/img/testimonial.png", alt="")
              span Gerita Vásquez

              .c-section-testimonials__description
                p “Me encantó conocer desde el sembrado de sus cafés, así como también el hecho que sea ecoamigable es muy importante, su sabor es realmente indescriptible. buenísimo!!”
                img(src="dist/img/testimonial_icon.png", alt="")