section.c-section-about
  img(src="dist/img/nacimos-back.png", alt="")
  .c-section-title.wow.fadeInDown
    img(src="dist/img/title-nacimos.svg", alt="")
    p.c-section-about__description ...En una finca llena de hermosa vegetación y una cálida familia, que nos enseñó a trabajar la tierra y definió nuestra pasión en el café, un sentimiento que queremos transmitir a través de todas nuestras actividades.

section.c-section-about.c-section-about--black
  .c-section-title.wow.fadeInDown
    img(src="dist/img/title-nosotros.svg", alt="")
    p.c-section-about__description KERE'Ma, es un término de profundo significado. Rescata la pasión, entrega y sobre todo el amor de una gran familia, para producir la tierra en armonía con la naturaleza. Desde 1930, heredamos esta tradición de "Don Francisco La Torre Westreicher" seguido por nuestro padre y referente "Don Pancho". KERE'ndo que más productores cultiven cafés de alta calidad y que más peruanos KERan 'Más consumir de estos finos cafés. Hoy en día, como parte de la tercera y cuarta generación, continuamos con ésta apasionada y bella tradición; de amar la tierra, respetar la naturaleza y KEREr 'Más café. Para que también usted, su familia y amigos... KEREM'a Café de FINCA LA TORRE; "EL PARQUE DEL CAFÉ".         