.c-footer{
  background: black;
  color: white;
  padding: 4rem 0 2rem;
  text-align: center;

  @media only screen and (min-width: 992px){
    text-align: left;
  }

  &__newsletter{
    display: flex;
    width: 100%;
    align-items: left;
    flex-direction: column;

    img{
      width: 30%;
      margin: 0 auto;
    }

    @media only screen and (min-width: 992px){
      flex-direction: row;

      img{
        margin-left: 0;  
        margin-right: 30px;
      }
    }

    p{
      color: #D6BD7C;
      margin: 1rem 0;
    }
    &__form form{
      display: flex;
      width: 100%;
    }
    button{
      margin-right: auto;
      width: 30%;
    }
    input{
      width: 65%;
    }
    button, input{
      color: #D6BD7C;
      background: transparent;
      padding: .5rem;
      border: none;
      box-shadow: 0 0 0 2px #D6BD7C;
    }

  }
  
  &__contact{
    margin-top: 2rem;
    list-style: none;
    padding-left: 0;

    @media only screen and (min-width: 992px){
      margin-top: 1rem;
    }
  }
  &__socials{
    a{
      margin-right: .5rem;
    }
    i{
      font-size: 3rem;
    }
  }
  a{
    color: white;
    transition:all .3s;
    text-decoration: none;

    &:hover{
      color: #FF6300;
    }
  }
  .red{
    color: #FF6300;
  }
}