.c-presentations{
  background: #1C1713;
  padding: 2rem 0;
  text-align: center;
  color: white;

  h2{
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  &__item{
    
    text-decoration: none;
    img{
      width: 60%;
    }
    p{
      color: white;
    }
  }

  &__main{
    display: flex;
    border: 2px solid white;
    padding: 2rem;
    border-radius: 2rem;
    
    img{
      flex-shrink: 0;
      width: 30%;
      margin-right: 10%;
      margin-left: 10%;
      
    }
    &__description{
      padding: 0 3rem;
      img{  
        display: block;
        width: 45%;
        margin: 0 auto;
      }

      ul{
        list-style: none;
        padding-left: 0;
      }
    }
    &__price{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      h4{
        font-size: 1.4rem;
        color: #FF6300;
        width: 100%;
      }
      &-item{
        width: 50%;
        span:first-child{
          display: block;
        }
        span:last-child{
          display: block;
          box-shadow: 0 0 0 2px #FF6300;
          padding: .5rem 1rem;
          margin: 1rem  auto .5rem;
          width: 80%;

          border-radius: .5rem;
        }
      }
    }
  }
  
  &__button{
    display: inline-block;
    margin-top: 2rem;
    box-shadow: 0 0 0 2px white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #FF6300;
    background: #ff6300;
    color: white;

    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}