.c-presentations{
  background: #1C1713;
  padding: 2rem 0;
  text-align: center;
  color: white;

  h2{
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  &__item{
    
    text-decoration: none;
    transition: all .3s;
    img{
      width: 60%;
      height: 250px;
      object-fit: contain;
    }
    p{
      color: white;
      transition: all .3s;
    }

    &:hover{
      text-decoration: none;
      p{
        color: #FF6300;
      }
    }
  }

  &__main{
    display: flex;
    border: 2px solid white;
    padding: 2rem;
    border-radius: 2rem;
    flex-direction: column;

    @media only screen and (min-width: 992px){
      flex-direction: row;
    }
    
    img{
      flex-shrink: 0;
      width: 30%;
      margin-right: auto;
      margin-left: auto;
      object-fit: contain;
      margin-top: 1rem;
      margin-bottom: 1rem;

      @media only screen and (min-width: 992px){
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 0;
        margin-bottom: 0;
      }
      
    }
    &__description{
      padding: 0 3rem;
      P{
        font-weight: 200;
      }
      img{  
        display: block;
        width: 45%;
        margin: 0 auto;
      }

      ul{
        list-style: none;
        padding-left: 0;
      }
    }
    &__price{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      h4{
        font-size: 1.4rem;
        color: #FF6300;
        width: 100%;
        margin-bottom: 2rem;
      }
      &-item{
        width: 50%;

        &.small{
          width: 33.33%;
        }

        span:first-child{
          display: block;
        }

        span:last-child{
          display: block;
          box-shadow: 0 0 0 2px #FF6300;
          padding: .5rem 1rem;
          margin: 1rem  auto .5rem;
          width: 80%;

          border-radius: .5rem;
        }
      }
    }
  }
  
  &__button{
    display: inline-block;
    margin-top: 2rem;
    box-shadow: 0 0 0 2px white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #FF6300;
    background: #ff6300;
    color: white;

    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}