.c-presentations{
  background: #1C1713;
  padding: 6rem 0;
  text-align: center;
  color: white;

  h2{
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  &__item{
    text-decoration: none;
    transition: all .3s;
    img{
      display: block;
      width: 60%;
      margin: 0 auto;
      height: 250px;
      object-fit: contain;
    }
    p{
      color: white;
      transition: all .3s;
    }
    .icon-plus{
      display: flex;
      color: white;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      background: #FF6300;
      margin-left: auto;
      margin-right: 3rem;
      transform: translateY(-150%);
      transition:all .3s;
    }

    &:hover{
      text-decoration: none;
      p{
        color: #FF6300;
      }

      .icon-plus{
        transform: translateY(-150%) scale(1.2);
      }
    }
    &.yellow{
      .icon-plus{
        background: #FFD200;
      }
      &:hover{
        p{
          color: #FFD200;
        }
      }
    }
    &.green{
      .icon-plus{
        background: #7D8700;
      }
      &:hover{
        p{
          color: #7D8700;
        }
      }
    }
    &.orange{
      .icon-plus{
        background: #FF9200;
      }
      &:hover{
        p{
          color: #FF9200;
        }
      }
    }
    &.brown{
      .icon-plus{
        background: #803000;
      }
      &:hover{
        p{
          color: #803000;
        }
      }
    }
    &.brown-2{
      .icon-plus{
        background: #80604C;
      }
      &:hover{
        p{
          color: #80604C;
        }
      }
    }
  }

  &__main{
    display: flex;
    border: 2px solid white;
    padding: 2rem;
    border-radius: 2rem;
    flex-direction: column;

    @media only screen and (min-width: 992px){
      flex-direction: row;
      align-items: center;
    }
    
    &-image{
      position: relative;
      flex-shrink: 0;
      width: 100%;
      padding-top: 4rem;

      @media only screen and (min-width: 992px){
        width: 50%;
      }

      img{
        &:first-child{
          width: 70%;
          margin: 0 auto;
          position: relative;
          z-index: 1;
        }

        &:last-child{
          top: 0;
          right: 0;
          width: 60%;
          position: absolute;
        }
      }
      
    }
    &__description{
      width: 100%;
      padding: 0 3rem;

      @media only screen and (min-width: 992px){
        width: 50%;
      }

      P{
        font-weight: 200;
      }
      img{  
        display: block;
        width: 45%;
        margin: 0 auto;
      }

      ul{
        list-style: none;
        padding-left: 0;
      }
    }
    &__price{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      h4{
        font-size: 1.4rem;
        color: #FF6300;
        width: 100%;
        margin-bottom: 2rem;
      }
      &-item{
        width: 50%;

        &.small{
          width: 33.33%;
        }
        span{
          font-size: 1.2em;
          font-weight: 500;
        }
        span:first-child{
          display: block;
        }

        span:last-child{
          display: block;
          box-shadow: 0 0 0 2px #FF6300;
          padding: .5rem 1rem;
          margin: 1rem  auto .5rem;
          width: 80%;

          border-radius: .5rem;
        }
      }
    }
  }
  
  &__button{
    display: inline-block;
    margin-top: 6rem;
    box-shadow: 0 0 0 2px white;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: #FF6300;
    background: #ff6300;
    color: white;

    &:hover{
      color: white;
      text-decoration: none;
    }
  }
}