.c-section-title{
  position: relative;
  padding: 8rem 0;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: white;

  img{
    display: block;
    margin: 0 auto 4rem;
    height: 10rem;

    @media only screen and (min-width: 992px){
      height: 13rem;
    }
  }
}