*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
  font-family: century, arial, helvetica, sans-serif;
  color: #363636;
}
body{
  margin: 0;
}
button,input,select,textarea{
  font-family: century, arial, helvetica, sans-serif;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
}
input,textarea{
  display: block;
  width: 100%;
  font-size: 1.2em;
  padding: .5em 1em;
  margin-bottom: 1em;
  outline: none;
}
button{
  outline: none;
}
img{
  max-width: 100%;
  height: auto;
}